{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{serviceName}}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Registration complete - DRAFT PAGE"
      }) }}

      <p class="govuk-body">Thank you for registering your interest in the review.</p>

      <p class="govuk-body">We’ll check the information you’ve provided and send you an email with the next steps as soon as possible.</p>

      <p class="govuk-body">If you have any questions about your application, contact the Rural Payments Agency.</p>
      
      {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
    </div>
  </div>
{% endblock %}
