{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if outstandingAgreementError %}
      <h1 class="govuk-heading-l">You have an existing agreement for this business</h1>
      <p class="govuk-body">{{ organisationName }}{{ sbiText }} has an agreement on the old health and welfare review service.</p>

      <h2 class="govuk-heading-m">What to do next</h2>
      <p class="govuk-body">Before you can apply for this updated service, you can either:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li><a href='{{ claimLink }}'>complete the claim for your current review</a></li>
        <li>withdraw your existing agreement by contacting the RPA</li>
      </ul>

      {% if not hasMultipleBusinesses %}
        <h2 class="govuk-heading-m">Apply for another business</h2>
        <p class="govuk-body">You can apply for another business that you have permission to act for.</p>
      {% endif %}
      
      <h2 class="govuk-heading-m">Contact RPA</h2>
      <p class="govuk-body">You can contact the RPA by email or phone.</p>
      {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
      <p class="govuk-body">Have your agreement number with you when you call or include it in your email.</p>

      {% if hasMultipleBusinesses %}
        <h2 class="govuk-heading-m">Apply for another business</h2>
        <p class="govuk-body">You can <a href='{{ backLink }}'>apply for another business</a> that has not already applied.</p>
      {% endif %}
    {% endif %}

    {% if permissionError %}
      <h1 class="govuk-heading-l">You cannot apply for reviews or follow-ups for this business</h1>
      <p class="govuk-body">You do not have the required permission to act for {{ organisationName }}{{ sbiText }}.</p>
    
      <h2 class="govuk-heading-m">What to do next</h2>
      <p class="govuk-body">You can apply for another business that does have an eligible CPH</p>
      <p class="govuk-body">To apply for this business, the business owner must give you either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>full permission level for business details</li>
        <li>‘submit’ permission level for the basic payment scheme</li>
      </ul>

      {% if hasMultipleBusinesses %}
        <h2 class="govuk-heading-m">Apply for another business</h2>
        <p class="govuk-body">You can <a href='{{ backLink }}'>apply for another business</a> that you have permission to act for.</p>
      {% endif %}

      <h2 class="govuk-heading-m">Get help with your application</h2>
      <p class="govuk-body">If you need help with your application, contact the Rural Payments Agency by email or phone.</p>
      {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
    {% endif %}

    {% if cphError %}
    <h1 class="govuk-heading-l">You cannot apply for reviews or follow-ups for this business</h1>
      <p class="govuk-body">{{ organisationName }}{{ sbiText }} has no eligible county parish holding (CPH) number registered to it.</p>
    
      <p class="govuk-body">To be eligible a CPH must be registered in England.</p>
      <p class="govuk-body">The CPH number cannot be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an 8000 number used for abattoirs, pet food manufacturers, racing pigeon establishments and showgrounds</li>
        <li>a 9000 number used for poultry keepers</li>
      </ul>

      {% if hasMultipleBusinesses %}
        <h2 class="govuk-heading-m">Apply for another business</h2>
        <p class="govuk-body">You can <a href='{{ backLink }}'>apply for another business</a> that does have an eligible CPH.</p>
      {% endif %}

      <h2 class="govuk-heading-m">Get help with your application</h2>
      <p class="govuk-body">If you need help with your application, contact the Rural Payments Agency by email or phone.</p>
      {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
    {% endif %}

    {% if lockedBusinessError %}
    <h1 class="govuk-heading-l">You cannot apply for reviews or follow-ups for this business</h1>
      <p class="govuk-body">The business record for {{ organisationName }} is locked.</p>
    
      <p class="govuk-body">This may be because:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you have told us you do not need this record – this could be because you're no longer claiming from the Rural Payments Agency (RPA) or you do not need a county parish holding (CPH) number anymore</li>
        <li>{{ organisationName }} has a new business record</li>
        <li>you have made changes to your business structure, so this record is no longer needed</li>
        <li>{{ organisationName }} has stopped trading</li>
      </ul>

      <h2 class="govuk-heading-m">Unlocking the business record</h2>
      <p class="govuk-body">If you need help with your application, contact the Rural Payments Agency by email or phone.</p>
      {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
      {% if not hasMultipleBusinesses %}
        <p class="govuk-body">Have your agreement number with you when you call or include it in your email.</p>
      {% endif %}

      <h2 class="govuk-heading-m">Apply for another business</h2>
      {% if hasMultipleBusinesses %}
        <p class="govuk-body">You can <a href='{{ backLink }}'>apply for another business</a> that does not have a locked business record.</p>
      {% else %}
        <p class="govuk-body">You can apply for another business that does not have an existing agreement.</p>
      {% endif %}

    {% endif %}
  </div>
</div>
{% endblock %}
