{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{ serviceName }} - GOV.UK{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
          This service used to be the annual health and welfare review. 
          It has been expanded to include:
        </p>
          <ul class="govuk-list govuk-list--bullet">
            <li >
              changes to the review, which is now called the animal health and welfare review
            </li>
            <li>
              the second part of the service, which is the endemic disease follow-up
            </li>
          </ul>
        </div>
      </div>

      <h1 class="govuk-heading-l">Get funding to improve animal health and welfare</h1>

      <p class="govuk-body">Use this service to apply for funding for a vet to visit your farm to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>improve the health and welfare of your livestock</li>
        <li>help reduce diseases</li>
      </ul>

      <p class="govuk-body">If you’re eligible, you can apply for funding for:</p>
      <p class="govuk-body govuk-!-margin-bottom-2">
        <a class="govuk-link" rel="external" href="https://www.gov.uk/guidance/farmers-how-to-apply-for-funding-to-improve-animal-health-and-welfare#animal-health-and-welfare-review">animal health and welfare reviews</a>
      </p>
      <p class="govuk-body">
        <a class="govuk-link" rel="external" rel="external" href="https://www.gov.uk/guidance/farmers-how-to-apply-for-funding-to-improve-animal-health-and-welfare#endemic-disease-follow-up ">endemic disease follow-ups</a>
      </p>

      <p class="govuk-body">Applying takes around 5 minutes.</p>

      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        href: defraIdLogin,
        isStartButton: true,
        text: "Start now",
        preventDoubleClick: true
      }) }}

      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        href: devLogin,
        isStartButton: true,
        text: "Dev start now",
        preventDoubleClick: true
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">You'll need your Rural Payments service customer reference number (CRN) and password to sign in.</p>
      <p class="govuk-body">
        <a class="govuk-link" rel="external" href="https://www.gov.uk/guidance/farmers-how-to-apply-for-funding-to-improve-animal-health-and-welfare#who-can-get-funding">You must be eligible to apply for funding to improve animal health and welfare.</a>
      </p>

      <h2 class="govuk-heading-m">Get help with your application</h2>
      <p class="govuk-body">If you cannot apply online or have a question about your application, contact the Rural Payments Agency.</p>
      {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
    </div>
  </div>
{% endblock %}