{% extends './layouts/layout.njk' %}

{% block pageTitle %}Minimum number of each species in each herd or flock - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: "back"}
  }) }}
  {{ nameSbiTag({name: organisation.name, sbi: organisation.sbi}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Minimum number of each species in each herd or flock</h1>
    <p class="govuk-body">Each time you do a review or follow-up for a herd or flock, you must have the minimum number of the species you choose. The minimums needed for each species are:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>11 beef cattle</li>
      <li>11 dairy cattle</li>
      <li>51 pigs</li>
      <li>21 sheep</li>
    </ul>
    <br>

    <form method="POST" autocomplete="off" novalidate="novalidate" id ="submitNumbersForm">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <div class="govuk-button-group">
        {{ govukButton({
          text: agreementStatus.agree.text,
          attributes: { "aria-label": agreementStatus.agree.text + " - Minimum number of livestock requirements" },
          value: agreementStatus.agree.value,
          name: "agreementStatus",
          preventDoubleClick: true
        }) }}
        {{ govukButton({
          text: agreementStatus.notAgree.text,
          attributes: { "aria-label": agreementStatus.notAgree.text + " - Minimum number of livestock requirements" },
          value: agreementStatus.notAgree.value,
          name: "agreementStatus",
          preventDoubleClick: true,
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
