{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{title}} - {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{title}}</h1>
      <p class="govuk-body">Based on your answers you cannot continue with your application.</p>
      <p class="govuk-body"><a rel="external" href="#" class="govuk-link">Read guidance to find out if you could be eligible for other farming schemes.</a>.</p>

      <p>If you have any questions about your application, contact the Rural Payments Agency.</p>

      {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
    </div>
  </div>
{% endblock %}