{% extends './layouts/layout.njk' %}

{% block pageTitle %}Reviews and follow-ups must be for the same species - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Reviews and follow-ups must be for the same species</h1>
    <h1 class="govuk-heading-m">If you are new to the service</h1>
    <p class="govuk-body">All your reviews and follow-ups must be done on the same species.</p>
    <h1 class="govuk-heading-m">If you have already had a review</h1>
    <p class="govuk-body">All your reviews and follow-ups must be done on the same species tested during your first review.</p>
    <br>

    <form method="POST" autocomplete="off" novalidate="novalidate" id ="submitNumbersForm">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <div class="govuk-button-group">
        {{ govukButton({
          text: agreementStatus.agree.text,
          value: agreementStatus.agree.value,
          name: "agreementStatus",
          preventDoubleClick: true
        }) }}
        {{ govukButton({
          text: agreementStatus.notAgree.text,
          value: agreementStatus.notAgree.value,
          name: "agreementStatus",
          preventDoubleClick: true,
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
