{% extends './layouts/layout.njk' %}

{% block pageTitle %}Timing of reviews and follow-ups - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Timing of reviews and follow-ups</h1>
    <p>You can do up to 3 reviews and follow-up under this agreement. We recommend you follow this sequence.</p>
    {{ govukWarningText({
      text: "At each step you choose to complete, you must follow the relevant timing rules to be eligible to claim.",
      iconFallbackText: "Warning"
    }) }}
    
    <h2 class="govuk-heading-m">1 Do a review</h2>
    <p>If you do a review, you must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>always do the review before you do the resulting follow-up</li>
      <li>wait at least 10 months between your reviews</li>
    </ul><br/>
    <h2 class="govuk-heading-m">2 Claim for review</h2>
    <h2 class="govuk-heading-m">3 Do a follow-up</h2>
    <p>If you do a follow-up, you must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>do the follow-up no more than 10 months after the review</li>
      <li>wait at least 10 months between your follow-ups</li>
    </ul><br/>
    <h2 class="govuk-heading-m">4 Claim for a follow-up</h2>
    <p>Your review claim must be approved before you claim for the resulting follow-up.</p>
    <h2 class="govuk-heading-m">5 Repeat this sequence for your second and third reviews and follow-up</h2>
    {% if isOldUser %}
    {{ govukInsetText({
      text: "If you have completed a review in the old annual health and welfare review, you need to do the follow-up no more than 10 months after your review."
    }) }}
    {% endif %}
    <br/><br/>

    <form method="POST" autocomplete="off" novalidate="novalidate" id ="submitDeclarationForm">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "I agree",
          value: "agree",
          name: "agreementStatus",
          preventDoubleClick: true
        }) }}
        {{ govukButton({
          text: "I do not agree",
          classes: "govuk-button--secondary",
          value: "rejected",
          name: "agreementStatus",
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}