{% extends './layouts/layout.njk' %}

{% block pageTitle %}Timing of vet visits and funding claims - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Timing of vet visits and funding claims</h1>

    <p>There must be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>at least 10 months between your reviews</li>
      <li>at least 10 months between your follow-ups</li>
      <li>no more than 10 months between your reviews and subsequent follow-ups</li>
    </ul><br>

    <p>You must have:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>had your review before the subsequent follow-up</li>
      <li>successfully claimed for a review before you claim for the subsequent follow-up</li>
    </ul><br>


    <form method="POST" autocomplete="off" novalidate="novalidate" id ="submitDeclarationForm">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Agree",
          value: "agree",
          name: "agreementStatus",
          preventDoubleClick: true
        }) }}
        {{ govukButton({
          text: "I do not agree – reject agreement",
          classes: "govuk-button--secondary",
          value: "rejected",
          name: "agreementStatus",
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}