{% extends './layouts/layout.njk' %}

{% block pageTitle %}Timing of reviews and follow-ups - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: "back"}
  }) }}
  {{ nameSbiTag({name: organisation.farmerName, sbi: organisation.sbi}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Timing of reviews and follow-ups</h1>

    <p>There must be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>at least 10 months between your reviews</li>
      <li>at least 10 months between your follow-ups</li>
      <li>no more than 10 months between your reviews and subsequent follow-ups</li>
    </ul><br>

    <p>You must have:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>had your review before the follow-up that happened after it</li>
      <li>claimed for a review before you claim for the follow-up that happened after it</li>
    </ul><br>


    <form method="POST" autocomplete="off" novalidate="novalidate" id ="submitDeclarationForm">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "I agree",
          value: "agree",
          name: "agreementStatus",
          preventDoubleClick: true
        }) }}
        {{ govukButton({
          text: "I do not agree – reject agreement",
          classes: "govuk-button--secondary",
          value: "rejected",
          name: "agreementStatus",
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}