# Test output
html-reports
test-output
/test/acceptance/cypress/screenshots
/test/acceptance/cypress/videos
/test/acceptance/cypress/cucumber-report

# npm stuff
.npm/
node_modules
npm-debug.log

# Misc
helm/**/*.lock
*.tgz
.env
*.log

# Editor stuff
.vscode
dist/

# Generated views
layout.njk

# OS stuff
.DS_Store

# Cypress acceptance tests
/test/acceptance/.env.dev
/test/acceptance/.env.local
/test/acceptance/.env.snd
/test/acceptance/.env.test