{% extends './layouts/layout.njk' %}

{% block pageTitle %}Guidance for vets - {{ serviceName }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div>
        <span class="govuk-caption-xl govuk-!-margin-top-9">Guidance</span>
        <h1 class="govuk-heading-xl">How to carry out endemic disease and condition testing for an annual health and welfare review of livestock</h1>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-!-font-size-24">
        Follow this guidance when you test livestock as part of an annual health and welfare review.
      </p>
      <aside class="navigation-container">
        <p class="govuk-body">From: <br>
          <a class="govuk-link" href="#" target="_blank">
            <strong>Department for Environment, Food &amp; Rural Affairs</strong>
          </a>
        </p>
      </aside>
      <div class="govuk-panel govuk-!-padding-3 govuk-!-margin-bottom-7" style="background-color:#f3f2f1;">
        <div class="govuk-panel__body govuk-!-text-align-left" style="color:#000000">
          <strong>Applies to England</strong>
        </div>
      </div>

      <br>
      <h2 class="govuk-heading-m">Documents</h2>

      <p class="govuk-body-l govuk-!-margin-bottom-1">
        <a class="govuk-link" href="test-cattle">
          Test for bovine viral diarrhoea (BVD) in cattle
        </a>
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-5">HTML</p>

      <p class="govuk-body-l govuk-!-margin-bottom-1">
        <a class="govuk-link" href="labs-cattle">
          Recommended laboratories to test for bovine viral diarrhoea (BVD) in cattle
        </a>
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-5">HTML</p>

      <p class="govuk-body-l govuk-!-margin-bottom-1">
        <a class="govuk-link" href="test-sheep">
          Test for the effectiveness of worming treatments in sheep
        </a>
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-5">HTML</p>

      <p class="govuk-body-l govuk-!-margin-bottom-1">
        <a class="govuk-link" href="labs-sheep">
          Recommended laboratories to carry out a Worming Treatment Check test in sheep
        </a>
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-5">HTML</p>

      <p class="govuk-body-l govuk-!-margin-bottom-1">
        <a class="govuk-link" href="test-pigs">
          Test for porcine reproductive and respiratory syndrome (PRRS) in pigs
        </a>
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-5">HTML</p>

      <p class="govuk-body-l govuk-!-margin-bottom-1">
        <a class="govuk-link" href="labs-pigs">
          Recommended laboratories to test for porcine reproductive and respiratory Syndrome (PRRS) in pigs
        </a>
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-5">HTML</p>

      <br>
      <h2 class="govuk-heading-m">Details</h2>

      <p class="govuk-body">
        Any vet or team chosen by a vet, conducting an annual health and welfare review of livestock are advised to follow the guidance for testing and use a recommended laboratory for sample analysis.
      </p>

      <p class="govuk-body">
        The technical guidance will help you understand the species-specific:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>tests you should carry out</li>
        <li>sample analysis requirements</li>
      </ul>

      <p class="govuk-body">
        Read the 
        <a class="govuk-link" href="/apply/guidance-for-vet">
          guidance on how to carry out an annual health and welfare review of livestock guidance
        </a>
        before you read this technical guidance.
      </p>
      <div class="app-back-to-top" style="margin: 20px 0 20px 0; border-top: 1px solid #b1b4b6; padding-top: 20px;" data-module="app-back-to-top">
        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
          <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Back to top
        </a>
      </div>
    </div>
  </div>
{% endblock %}