# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# Development values
development-values.yaml
postgres-values.yaml
artemis-values.yaml
# AHWR Repository values
app/
appconfig/
docs/
scripts/
test/
zap/
.*
*.js
*.md
*.cjs
*.json
docker-compose*
Dockerfile
Jenkinsfile
LICENCE
README.md
provision.azure.yaml
sonar-project.properties