{% extends './layouts/layout.njk' %}

{% block pageTitle %}Application complete - {{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Application complete",
      html: "Your agreement number is<br><strong>" + reference + "</strong>"
    }) }}

    <p class="govuk-body">Your application is complete and you have entered an agreement with the Rural Payments Agency (RPA).</p>

    <p class="govuk-body">We have sent you a confirmation email and your agreement summary.</p>

    <p class="govuk-body">The agreement will be governed by the agreed <a href="/apply/terms">terms and conditions</a></p>

    <h2 class="govuk-heading-m">Set up your review</h2>

    <p class="govuk-body">Contact your vet to arrange a review. Read the <a href="/apply" target="_blank">guidance on how to set up a review</a>.</p>

    <p class="govuk-body">After the vet has completed the review, you can <a href="{{claimServiceUri}}" target="_blank">claim funding for the annual health and welfare review</a>.</p>

    <p class="govuk-body">You’ll need to apply for a new agreement number if you do not arrange a review and claim your funding within 6 months of getting this agreement number.</p>

    <h2 class="govuk-heading-m">Get help with your application</h2>

    <p>Contact the RPA by phone or email if you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>need to change your application - for example if you want to change the livestock you’re having reviewed</li>
      <li>decide you do not want a review after you have accepted your agreement offer</li>
      <li>have a question about your application</li>
    </ul>

    <p>Have your agreement number with you when you call or include it in your email.</p>

    {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
  </div>
</div>
{% endblock %}
