{% extends './layouts/layout.njk' %}

{% block pageTitle %}Review your application - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Review your application</h1>

    <p class="govuk-body">You’re applying for funding for a {{ species }} review for this business:</p>
    <div class="govuk-inset-text">
      <span id="organisation-name">{{ organisation.name }}</span><br>
      <span id="organisation-address">{{ organisation.address | safe }}</span><br>
      SBI: <span id="organisation-sbi">{{ organisation.sbi }}</span>
    </div>

    <p>You confirm that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the livestock are registered in England</li>
        <li>you’re the registered keeper</li>
        <li>{{ minNumText }}</li>
      </ul><br>

    <p>You must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>book your review within 12 months of the date of your application</li>
      <li>{{ testText }}</li>
      <li>share some information with Defra including vet details, test results and some species-specific data</li>
    </ul><br>

    <p>To claim your payment:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you may need to provide the Rural Payments agency with evidence the review took place such as an invoice or signed declaration from the vet</li>
      <li>you must claim within 15 months of the date of your application</li>
    </ul><br>

    <p>By applying for this funding you're entering into an agreement with the RPA.</p>

    <p><a hef="#" class="govuk-link">Read the full terms and conditions</a></p>

    <form method="POST" autocomplete="off" novalidate="novalidate">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {{ govukCheckboxes({
        idPrefix: "terms",
        name: "terms",
        errorMessage: errorMessage,
        items: [{
            value: "agree",
            text: "I have read and agree to the terms and conditions"
          }]
      }) }}

      {{ govukButton({
        text: "Submit application"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
