{% extends './layouts/layout.njk' %}

{% block pageTitle %}Details are not recognised - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/apply/org-review",
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Details are not recognised</h1>

    <p>The details you’ve entered do not match our records. To update your details contact the Rural Payments Agency.</p>

    {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
  </div>
</div>
{% endblock %}
