{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Apply for an annual health and welfare review of your livestock</h1>

    <p class="govuk-body">Use this service to apply for an annual health and welfare review with your vet.</p>
    <p class="govuk-body">Applying takes around 5 minutes.</p>

    {{ govukButton({
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      href: "/apply/login",
      isStartButton: true,
      text: "Start now",
      preventDoubleClick: true
    }) }}

    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">You'll need the business email address associated with your Rural Payments Agency (RPA) account.</p>
    <p class="govuk-body">We'll send you an email that includes a link to apply for a review. This link will expire in 15 minutes.</p>
    <p class="govuk-body">You must be eligible to apply for an annual health and welfare review. Read the guidance on <a href="/apply">getting a funded annual health and welfare review of your livestock</a> before you use this service.</p>

    <h2 class="govuk-heading-m">Get help with your application</h2>
    <p class="govuk-body">If you cannot apply online or have a question about your application, contact the Rural Payments Agency.</p>
    {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
  </div>
</div>
{% endblock %}
