{% extends './layouts/layout.njk' %}
{% block pageTitle %}Guidance for vets - {{ serviceName }}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Logo -->
      <br><br>

      <!-- Blue box -->
      <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left govuk-!-margin-bottom-7" style="background-color:#1d70b8;">
        <div class="govuk-panel__body govuk-!-margin-bottom-3">
          Guidance
        </div>
        <h1 class="govuk-panel__title">Recommended laboratories to test effectiveness of worming treatments in sheep</h1>
        <div class="govuk-panel__body">
          Published 22 September 2022
        </div>
      </div>

      <!-- Intro -->
      <p class="govuk-body">
        It is recommended vets send samples to a laboratory on this list. More laboratories may be added to this list.
      </p>
      <p class="govuk-body">
        These laboratories meet one or more of the following:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>ISO/IEC 17025 accredited</li>
        <li>UKAS accredited (UK accredited) for a worm egg count</li>
        <li>part of the <a href="http://apha.defra.gov.uk/ahvla-scientific/vetqas/PT0114.html" target="_blank">Animal and Plant Health Agency (APHA) VetQAS worm eggs count proficiency scheme</a> and has provided results defined by the z-score as satisfactory</li>
      </ul>

      <p>If you have a question about laboratories used for review testing or want to be added to this list contact the Rural Payments Agency:</p>
      <ul class="govuk-list">
        <li>Telephone: 03000 200 301</li>
        <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
        <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
      </ul>

      <aside class="navigation-container">

      </aside>

      <!-- Main body -->
      <h2 id="biobest" class="govuk-heading-m">Biobest Laboratories</h2>

        <p class="govuk-body govuk-!-width-three-quarters">
          Contact Biobest Laboratories for the submission forms
          and sampling kits that you must use for review testing.
        </p>

        <p class="govuk-body">
          6 Charles Darwin House <br>
          The Edinburgh Technopole <br>
          Milton Bridge <br>
          EH26 0PY <br>
        </p>
        <p class="govuk-body">
          Telephone: 0131 440 262
        </p>
        <p class="govuk-body">
          Email: <a href="mailto:enquiry@biobest.co.uk">enquiry@biobest.co.uk</a>
        </p>

      <!--Footer-->
      <div class="app-back-to-top" style="margin: 50px 0 20px 0; border-top: 1px solid #b1b4b6; padding-top: 20px;" data-module="app-back-to-top">
        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
          <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Back to top
        </a>
      </div>

    </div>
  </div>
{% endblock %}