{% extends './layouts/layout.njk' %}
{% block pageTitle %}Guidance for vets - {{ serviceName }}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Logo -->
      <br><br>

      <!-- Blue box -->
      <div class="govuk-panel govuk-panel--confirmation govuk-!-text-align-left govuk-!-margin-bottom-7" style="background-color:#1d70b8;">
        <div class="govuk-panel__body govuk-!-margin-bottom-3">
          Guidance
        </div>
        <h1 class="govuk-panel__title">
          Recommended laboratories to test effectiveness of worming treatments in sheep
        </h1>
        <div class="govuk-panel__body">
          Published 22 September 2022
        </div>
      </div>

      <!-- Intro -->
      <p class="govuk-body">
        Vets should send samples to this laboratory. 
        It has been recommended by the Department for Environment, Food and Rural Affairs (Defra) for this test.
      </p>
      <p class="govuk-body">
        More laboratories may be added at a later date.
      </p>

      <aside class="navigation-container">

      </aside>

      <!-- Main body -->
      <h2 id="biobest" class="govuk-heading-m">Biobest Laboratories</h2>

        <p class="govuk-body govuk-!-width-three-quarters">
          Contact Biobest Laboratories for the submission forms
          and sampling kits that you must use for review testing.
        </p>

        <p class="govuk-body">
          6 Charles Darwin House <br>
          The Edinburgh Technopole <br>
          Milton Bridge <br>
          EH26 0PY <br>
        </p>
        <p class="govuk-body">
          Telephone: 0131 440 262
        </p>
        <p class="govuk-body">
          Email: <a href="mailto:enquiry@biobest.co.uk">enquiry@biobest.co.uk</a>
        </p>

      <!--Footer-->
      <div class="app-back-to-top" style="margin: 50px 0 20px 0; border-top: 1px solid #b1b4b6; padding-top: 20px;" data-module="app-back-to-top">
        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
          <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Back to top
        </a>
      </div>

    </div>
  </div>
{% endblock %}