{% extends './layouts/layout.njk' %}

{% block pageTitle %}No Eligble Businesses - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/apply/start",
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">No Eligble Businesses</h1>

    <p>No eligble businesses found.</p>
  </div>
</div>
{% endblock %}
