{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{serviceName}}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/apply/register-your-interest",
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" autocomplete="off" novalidate>
    <input type="hidden" name="crumb" value="{{crumb}}"/>

    {% call govukFieldset({
      legend: {
        text: "Enter your customer reference number (CRN)",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}
      <p class="govuk-body">Enter your CRN so we can identify you.</p>
      <p class="govuk-body">This is the 10 digit number emailed to you when you created your Rural Payments account.</p>
      {{ 
        govukInput({
          label: {
            text: "Enter your CRN number",
            classes: "govuk-label",
            for: "crn"
          },
          classes: "govuk-input govuk-input--width-10",
          id: "crn",
          name: "crn",
          value: crn,
          errorMessage: errorMessages.crn
        }) 
      }}
      {{ 
        govukInput({
          label: {
            text: "Confirm your CRN number",
            classes: "govuk-label",
            for: "confirmCrn"
          },
          classes: "govuk-input govuk-input--width-10",
          id: "confirmCrn",
          name: "confirmCrn",
          value: confirmCrn,
          errorMessage: errorMessages.confirmCrn
        }) 
      }}
    {% endcall %}

    {{ 
      govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        text: "Continue",
        preventDoubleClick: true
      }) 
    }}

    {{ 
      govukDetails({
        summaryText: "Problems with your CRN",
        html: "<p>If you’ve lost or forgotten your CRN, contact the Rural Payments Agency.</p>
        <ul class='govuk-list'>
          <li>Rural Payments Agency</li>
          <li>Telephone: 03000 200 301</li>
          <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
          <li><a href='mailto:" + ruralPaymentsEmail + "'>" + ruralPaymentsEmail + "</a></li>
        </ul>
        <p class='govuk-body'>Find out about <a class='govuk-link' target='_blank' href='" + callChargesUri + "'> call charges</a></p>
        " 
      })  
    }}
    </form>
  </div>
</div>
{% endblock %}
