{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{serviceName}}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/apply/register-your-interest/check-your-answers-and-register-your-interest",
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Registration complete",
        html: "Your reference number<br><strong>placeholder</strong>"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next?</h2>

      <p class="govuk-body">
        We'll check the information you've provided and send you an email to confirm if you're eligible to apply.
      </p>
      <p class="govuk-body">
        This may take a few days but can take longer.
      </p>

      {{ 
        govukInsetText({
          html: "<p>If you don't receive an email, contact the Rural Payments Agency.</p>
          <ul class='govuk-list'>
            <li>Rural Payments Agency</li>
            <li>Telephone: 03000 200 301</li>
            <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
            <li><a href='mailto:" + ruralPaymentsEmail + "'>" + ruralPaymentsEmail + "</a></li>
          </ul>
          <p class='govuk-body'>Find out about <a class='govuk-link' target='_blank' href='" + callChargesUri + "'> call charges</a></p>
          "
        })
      }}

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}
